
<ul id="menu-header" class="main-nav-menu">
	{{#foreach navigation}}
	<a href="{{url absolute="true"}}">
		<li class="nav-extra-padding nav-{{slug}} {{#if current}} current-menu-item{{/if}}" >
				{{label}}
			</li>
	</a>
	{{/foreach}}
</ul>
