<aside id="featured" class="featured hide-on-mobile col-lg-5 col-lg-offset-4 grid-25 tablet-grid-50">


	<div id="ad_" class="">

<!--		<script type='text/javascript'>
		 var ADM_PL = {tp:'sp', wId:2800100, pId:70998377, rank:1, width:300, height:250, pbId:371, clk:'[External click-tracking goes here (NOT URL-encoded)]'};
		</script>
		<script type='text/javascript' src='//s.atemda.com/Admeta.js'></script>
		<noscript>
		 <iframe src='//p371.atemda.com/nojsadserving.ashx?wId=2800100&pId=70998377&rank=1&clk=[URL-encoded external clicktracking link goes here]' width='300' height='250' frameborder='0' marginheight='0' marginwidth='0' scrolling='no'></iframe>
		</noscript>
	-->
	</div>
	<!-- end: .item -->

</aside>
