
    <div class="col-xs-12 col-md-12">
        <div class="social-button email-button">
        <a class="subscribe-button" href="{{@blog.url}}/subscribe/">
          <div class="row">
            <span class="hidden-xs email">Subscribe with Email</span>
            <span class="col-xs-6  visible-xs email_mobile">Subscribe</span>
            <i class="sub-icon fa fa-envelope" aria-hidden="true"></i>
        </div>
        </a>
        </div>
    </div>
